.animate-running {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 10s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .custom-hover {
    padding: 0px;
    color: #343a40;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }

  .custom-hover:hover {
    border-bottom: 2px solid #ffe816;
    color: #ffffff;
  }